# Compilados de C++
*.out
*.exe
*.o
*.obj

# Archivos temporales
*.log
*.tmp

# Carpetas de compilación
/build/
.vscode/

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Excepciones para módulos personalizados de CMake (si los hay en el futuro)
!cmake/
!cmake/*.cmake